@keyframes slideshow {
	from {
		color: red;
		opacity: 1;
	}
	to {
		color: pink;
		opacity: 0;
	}
}


h1 {
	color: #FCD68D;
	font-family: cubano, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
	animation-name: slideshow;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}


@keyframes example {
	0%   {
		background-color:red; left:0px; top:0px;
	}
	25%  {
		background-color:yellow; left:200px; top:0px;
	}
	50%  {
		background-color:blue; left:200px; top:200px;
	}
	75%  {
		background-color:green; left:0px; top:200px;
	}
	100% {
		background-color:red; left:0px; top:0px;
	}
}


h2 {
	color: #A1A373;	
	font-family: cy, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 40px;
	animation-name: example;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}


h3 {
	color: #A1A373;
	font-family: cubano-sharp, sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 40px;
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

h6 {
	color: #C27138;
	font-family: cy, sans-serif;
	font-weight: 800;
	font-style: normal;
	font-size: 60px;
	animation-name: spin;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}



/*Online CSS typeface*/

html {
  font-family: "didot";
}

h2 {
  font-size: 100px;
  margin: 0;
   writing-mode: vertical-lr;
  text-align: center;
  line-height: .9;
}

.rotate {
   transform: rotate(180deg);
}

div {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
  grid-template-columns: max-content max-content;
}

body {
  margin: 0;
}

/*Online CSS Typeface*/



/*
Property	Description
@keyframes	Specifies the animation code

animation	A shorthand property for setting all the animation properties

animation-delay	Specifies a delay for the start of an animation

animation-direction	Specifies whether an animation should be played forwards, 
backwards or in alternate cycles

animation-duration	Specifies how long time an animation should take to complete 
one cycle

animation-fill-mode	Specifies a style for the element when the animation is not 
playing (before it starts, after it ends, or both)

animation-iteration-count	Specifies the number of times an animation
should be played

animation-name	Specifies the name of the @keyframes animation

animation-play-state	Specifies whether the animation is running or paused

animation-timing-function	Specifies the speed curve of the animation*/

