/*typeface poster*/

/* override default browser spacing */

* {
	margin: 0;
	padding: 0;
}


div {
	display: inline-block;
}

.background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #A1A373;
}


/*webpage shapes*/


.bttmBorder {
	position: absolute;
	width: 99%;
	height: 4%;
	border-radius: 10px;
	border-color: #EF7342;
	background-color: #C7753B;
	border: 6px #EF7342 solid;
	top: 688px;
}


@keyframes slideshow {
	from {
		background: repeating-linear-gradient(#DAB928, #DAB928 5px, #FCD68D 5px, #FCD68D 8px);
		opacity: 100%;
	}
	to {
		background: repeating-linear-gradient(#FCD68D, #FCD68D 5px, #DAB928 5px, #DAB928 8px);
		opacity: 100%;
	}
}


.theoryRec {
	position: absolute;
	width: 600px;
	height: 140px;
	border-radius: 30px;
	background: repeating-linear-gradient(#DAB928, #DAB928 5px, #FCD68D 5px, #FCD68D 8px);
	border: 6px #EF7342 solid;
	top: 66px;
	left: 120px;
	animation-name: slideshow;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

.morningRec {
	position: absolute;
	width: 500px;
	height: 600px;
	border-radius: 50px;
	background-color: #DFB296;
	border: 6px #EF7342 solid;
	top: 30px;
	left: 800px;
}

.morning {
	position: absolute;
	width: 400px;
	height: 480px;
	border-radius: 16px;
	background: repeating-linear-gradient(#DAB928, #DAB928 5px, #FCD68D 5px, #FCD68D 8px);
	border: 6px #EF7342 solid;
	top: 35px;
	left: 44px;
	animation-name: slideshow;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

.morning2 {
	position: absolute;
	width: 502px;
	height: 40px;
	border-radius: 16px;
	background-color: #C7753B;
	border: 6px #EF7342 solid;
	top: 554px;
	left: -6px;
}

.arch {
	position: absolute;
	width: 250px;
	height: 596px;
	border-radius: 50px;
	background-color: #DFB296;
	border: 6px #EF7342 solid;
	top: 36px;
	left: 100px;
}

.rectangle1 {
	position: absolute;
	width: 250px;
	height: 54px;
	border-radius: 50px;
	background-color: #C27138;
	top: 190px;
}

.rectangle2 {
	position: absolute;
	width: 220px;
	height: 316px;
	border-radius: 50px;
	background-color: #C27138;
	top: 304px;
	left: 120px;
}

/*text styling*/

h6 {
	color: #707070;
	font-family: jaf-bernino-sans-condensed, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding-top: 178px;
	padding-left: 20px; 
}

h5 {
	color: #707070;
	font-family: jaf-bernino-sans-condensed, sans-serif;
	font-weight: 700;
	font-style: normal;
	padding-top: 20px;
	padding-left: 10px;
}

h4 {
	color: #707070;
	font-family: jaf-bernino-sans-condensed, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding-top: 2px;
	padding-left: 10px;
}

h3 {
	color: black;
	padding: 4px 20px;
}

h2 {
	padding-top: 50px;
	padding-left: 10px;
}

h1 {
	color: black;
	padding-top: 20px;
	padding-left: 10px;
}

.content {
	color: #033E1E;
	font-family: jaf-bernino-sans-condensed, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding-left: 20px;
	padding-top: 10px;
	padding-right: 20px;
}

.content2 {
	color: #033E1E;
	font-family: jaf-bernino-sans-condensed, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding-left: 300px;
	padding-top: 4px;
	padding-right: 300px;
}



/*typeface Grid*/



.grid {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(5,20%);
	grid-template-rows: repeat(5,20%);
	width: 130px;
	height: 130px;
	bottom: 2px;
}

.grid3 {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(5,20%);
	grid-template-rows: repeat(5,20%);
	width: 130px;
	height: 130px;
	background: repeating-linear-gradient(#DAB928, #DAB928 20px, #FCD68D 20px, #FCD68D 30px);
	clip-path: inset(1% 1% 1% 1% round 20% 20%);
	bottom: 2px;
}



.grid2 {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(5,20%);
	grid-template-rows: repeat(5,20%);
	width: 130px;
	height: 130px;
	background: repeating-linear-gradient(#DAB928, #DAB928 30px, #FCD68D 20px, #FCD68D 50px);
	clip-path: inset(10% 10% 10% 10% round 20% 20%);
	bottom: 2px;
}


/*typeface Letters*/


.T-1 {
	position: absolute;
	width: 90px;
	height: 20px;
	background-color: #FCD68D;
	border-radius: 50px;
	top: 20px;
	left: 20px
}

.T-2 {
	position: absolute;
	width: 20px;
	height: 90px;
	background-color: #FCD68D;
	border-radius: 50px;
	top: 30px;
	left: 56px;
}

.T-3 {
	position: absolute;
	width: 5px;
	height: 220px;
	background-color: #DAB928;
	top: 10px;
	left: 64px;
}



.H-1 {
	position: absolute;
	width: 30px;
	height: 220px;
	background-color: #FCD68D;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	top: 40px;
	left: 24px;
}

.H-2 {
	position: absolute;
	width: 30px;
	height: 220px;
	background-color: #FCD68D;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	top: 40px;
	left: 134px;
}


.H-3 {
	position: absolute;
	width: 120px;
	height: 30px;
	background-color: #DAB928;
	border-radius: 50px;
	top: 130px;
	left: 39px;
}

.H-4 {
	position: absolute;
	width: 100px;
	height: 5px;
	background-color: #FCD68D;
	border-radius: 50px;
	top: 143px;
	left:49px;
}


.element {  
  float: left;
  shape-outside: circle(50%);
  width: 200px;
  height: 200px;
}